.header{
  background-color: #5C75FF;
  height: 100px;
  width: 100%;
  text-align: center;
}
.inline{
  display: inline;
}
.header > ul {
  list-style-type: none;
  margin: 0;
  padding:30px;
}
.button {
  display: inline;
  padding: 10px;
  border-style: solid;
  margin: 10px;
  border-radius: 6px;
  color:white;
  border-color: black;
  border-width: 2px;
}
.button:hover{
  background-color: #6B8EFF;
  cursor:pointer;
}
.velocity{
  border-style: solid;
  border-width: 2px;
  padding: 10px;
  border-radius: 6px;
}
.label{
  color:white;
}

.select-css {
  display: inline;
	font-size: 14px;
	font-family: sans-serif;
	font-weight: 700;
	color: #444;
	line-height: 1.3;
	padding: .6em 1.4em .5em .8em;
	max-width: 100%;
	box-sizing: border-box;
	margin: 0;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}
.select-css::-ms-expand {
	display: none;
}
.select-css:hover {
	border-color: #888;
}
.select-css:focus {
	border-color: #aaa;
	box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222;
	outline: none;
}
.select-css option {
	font-weight:normal;
}

.legend{
  list-style-type: none;
  margin: 0;
  padding:30px;
  text-align: center;
}
.legendItem{
  display: inline-block;
  position: relative;

  height: 30px;
  margin-left:20px;
}
.legendItem1{
  width: 130px;
  text-align: end;
  font-size: 20px;
}
.legendStart{
  background-image: url('/asset/Simple_mouse.png');
  background-size: 30px 30px;
  position: absolute;
  left:0;
  width: 30px;
  height: 30px;
}
.legendItem2{
  width: 130px;
  text-align: end;
  font-size: 20px;
}
.legendEnd{
  background-image: url('/asset/formaggio.png');
  background-size: 30px 30px;
  position: absolute;
  left:0;
  width: 30px;
  height: 30px;
}
.legendItem3{
  width: 160px;
  text-align: end;
  font-size: 20px;
}
.legendVisitedNodes{
  background-color: rgba(0, 0, 255, 0.308);
  position: absolute;
  left:0;
  width: 30px;
  height: 30px;
}
.legendItem4{
  width: 220px;
  text-align: end;
  font-size: 20px;
}
.legendShortestPath{
  background-color: rgba(255, 255, 0, 0.700);
  position: absolute;
  left:0;
  width: 30px;
  height: 30px;
}
.legendItem5{
  width: 70px;
  text-align: end;
  font-size: 20px;
}
.legendWall{
  background-color: orange;
  position: absolute;
  left:0;
  width: 30px;
  height: 30px;
}
.pathfinding{
  display: flex;
  justify-content: center;
  flex-direction: column;

}
#divGrid{
  overflow-x:auto;
}
.Grid{
  border-spacing: 0;
  margin-top:30px;
  width: 100%;
}
.col{
  width: 30px;
  height: 30px;
  border-width: 1px;
  border-style: ridge;
  border-color: rgba(0, 0, 255, 0.308)!important;
  padding:0;
  margin:0;
}

.start{
  background-color: none !important;
  background-image: url('/asset/Simple_mouse.png');
  background-size: 30px 30px;
}
.end{
  background-color: none !important;
  background-image: url('/asset/formaggio.png');
  background-size: 30px 30px;
}
.isWall{
  background-color: orange !important;
}
.moreTransparency{
  background-color: rgba(0,0,0,0.1) !important;
  background-image: url('/asset/Simple_mouse.png');
  background-size: 30px 30px;
}